# If you are cloning this repo, create a copy of this file named ".env.local" and populate it with your secrets.

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Discord Guild IDs
DISCORD_GUILD_ID=""
DISCORD_CLASS_ROLE_ID=""
DISCORD_COCKPIT_ADMIN_ROLE_ID=""

# Google Cloud Storage
GCP_PROJECT_ID=""
GCP_SERVICE_ACCOUNT_EMAIL=""
GCP_PRIVATE_KEY=""
GCP_BUCKET_NAME=""

# MongoDB
MONGO_URI=""
